= simple_form_for(<%= singular_table_name %>) do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |attribute| -%>
    <%- if attribute.name.include?('_at') || attribute.name.include?('_on') -%>
    = f.input :<%= attribute.name %>, :as => :string, :input_html => { :class => "datepicker" }
    <%- else -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
    <%- end -%>
  <%- end -%>

  .form-actions
    = f.button :submit
